<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greeting</title>
</head>
<body>
<p>Active tables:</p>
<a href="tables/gender-train">gender-train</a>
<br>
<a href="tables/tr-mcc-codes">tr-mcc_codes</a>
<br>
<a href="tables/tr-types">tr-types</a>
<br>
<a href="tables/transactions">transactions</a>
</body>
</html>